<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795113786020-tcj8k8l4gjihbkdnjrv9h070acmh93ur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795113786020-tcj8k8l4gjihbkdnjrv9h070acmh93ur</string>
	<key>API_KEY</key>
	<string>AIzaSyCg8lbhDv_W33FplrlbRUROBfo7sxMpavY</string>
	<key>GCM_SENDER_ID</key>
	<string>795113786020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.consult.consultation</string>
	<key>PROJECT_ID</key>
	<string>iconsultdb</string>
	<key>STORAGE_BUCKET</key>
	<string>iconsultdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795113786020:ios:e9f0388d74ba98b7d5f431</string>
	<key>DATABASE_URL</key>
	<string>https://iconsultdb-default-rtdb.firebaseio.com</string>
</dict>
</plist>